<nav id="navbar">
  <a href="/index.html#home" class="logo"><span class="br">&lt;/&gt;</span>CDO</a>
  <ul>
    <li><a href="/index.html#home" data-nav="home">Home</a></li>
    <li><a href="/index.html#midterm" data-nav="midterm">Midterm</a></li>
    <li><a href="/index.html#final" data-nav="final">Final</a></li>
    <li><a href="/index.html#contact" data-nav="contact">Contact</a></li>
    <li><a href="https://docs.google.com/..." class="nav-resume" target="_blank">Resume ↗</a></li>
  </ul>
</nav>